---
layout: page
title: Lefttree
tagline: Left Tree
---
{% include JB/setup %}

<div>
  <p>不积跬步，无以至千里   不积小流，无以成江海。</p>
  <a href="http://www.xiangli.me">Personal Website</a> 
</div>

<div class="posts">
    <ul class="posts">  
        {% for post in site.posts limit:20 %}  
        <li class="post-link">  
            <span>{{ post.date | date_to_string }}</span> &raquo;  
            <a class="index-post-title" href="{{ BASE_PATH }}{{ post.url }}">  
                {{ post.title }}</a>  
        </li>  
        {% endfor %}  
    </ul>
</div>
<div class="colophon">
</div>
