---
layout: page
title: Lefttree
tagline: Left Tree
---
{% include JB/setup %}

<div>
  <p>Created this blog to help me remember things</p>
</div>

<div class="posts">
    <ul class="posts">  
        {% for post in site.posts limit:20 %}  
        <li class="post-link">  
            <span>{{ post.date | date_to_string }}</span> &raquo;  
            <a class="index-post-title" href="{{ BASE_PATH }}{{ post.url }}">  
                {{ post.title }}</a>  
        </li>  
        {% endfor %}  
    </ul>
</div>
<div class="colophon">
</div>
